
# application configuration
CHEQUE_PROCESSING_DAYS=3

# mqtt configuration
MQTT_HOST=qoffice_mqtt
MQTT_PORT=1884
MQTT_CHANNEL=client-order-details

# Database Configuration
DB_DIALECT=mysql
DB_HOST=127.0.0.1
#DB_HOST=qoffice
DB_PORT=3306
DB_DATABASE=qoffice
DB_USERNAME=root
DB_PASSWORD=Roy@l123$
INSERT_CHUNK_SIZE=3000
UPDATE_CHUNK_SIZE=2000